---
import Redes_Sociales_Text from '../components/redes-sociales_texts.astro';
---

<div id="container">
	<script>import { gsap } from "gsap" ; window.gsap = gsap;</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {

		/// SET ACTIVE PAGE ///
		let currentPage = window.location.pathname.split("/").pop() || "index.html";
		const menuLinks = document.querySelectorAll(".overlay-menu .menu-item a");
		menuLinks.forEach(link => {
			const linkPage = link.getAttribute("href").split("/").pop();
			if (linkPage === currentPage) {
				link.closest("p").id = "active";
			}
		});

		let activeItemIndicator = document.querySelector(".menu-item p#active");
		const toggleButton = document.querySelector(".burger");
		let isOpen = false;

		gsap.set(".menu-item p", { x: 5025 });

		const timeline = gsap.timeline({ paused: true });

		timeline.to(".overlay", {
		duration: 1,
		clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
		ease: "power4.inOut",
		});

		timeline.to(
		".menu-item p",
		{
			duration: 1.5,
			x: 0,
			stagger: 0.3,
			ease: "power4.out",
		},
		"-=1"
		);

		// Se anima la variable CSS "--after-width" del elemento activo
		timeline.to(
		activeItemIndicator,
		{
			duration: 1,
			ease: "power4.out",
			delay: 0.5,
			"--after-width": "100%",
		},
		"<"
		);

		timeline.to(
		".sub-nav",
		{
			bottom: "-2%",
			opacity: 1,
			duration: 0.5,
			delay: 1,
		},
		"<"
		);

		toggleButton.addEventListener("click", function () {
		if (isOpen) {
			timeline.timeScale(1.5).reverse();
		} else {
			timeline.timeScale(1).play();
		}
		isOpen = !isOpen;
		});

		});

		
	</script>
	<main>
		<section id="navbar">
			<!-- NAVBAR -->
			<nav-bar>
				<nav>
					<div class="logo"><a href="#"><img src="/svg/four.svg"></img></a></div>

					<div class="right-side">
					  <div class="toggle-btn">
						<button
						  class="burger"
						  onclick="this.classList.toggle('active');"
						></button>
					</div>
					</div>
				  </nav>
				  <hamburguesa-menu>
					<div class="overlay">
						<div class="overlay-menu">
							<div class="menu-item">
							<div class="menu-item-name">
								<p><a href="/index.html">HOME</a></p>
							</div>
							</div>
							<div class="menu-item">
							<div class="menu-item-name">
								<p><a href="#">WORK</a></p>
							</div>
							</div>
							<div class="menu-item">
							<div class="menu-item-name">
								<p><a href="#">ABOUT ME</a></p>
							</div>
							</div>
							<div class="menu-item">
								<div class="menu-item-name">
									<p><a href="#">CONTACT</a></p>
								</div>
								</div>
						<div class="sub-nav">
							<Redes_Sociales_Text />
						</div>
						</div>
						<img src="/webp/overlayBG.webp" alt="">
					</div>
				</hamburguesa-menu>
			</nav-bar>

		</section>
	</main>
</div>

<style>

/* NAVBAR */

nav-bar {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: auto;
  }

  nav {
    position: fixed;
    width: 100%;
    height: 5.8em;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    z-index: 9999;
  }

  nav p {
    font-size: 12px;
    color: black;
  }
  
  nav > div {
    flex: 1;
  }

.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

  .logo img {
    /* padding-top: 2em; */
    /* width: clamp(4em, 10vw, 10em); */
    padding-top: 1em;
    width: clamp(4em, 10vw, 7em);
    color: #fff;
  }
  
  @font-face {
    font-family: IntegralCF;
    src: url(/fonts/IntegralCF-Regular.otf);
  }

  .nombre {
    display: flex;
    align-items: center;
    width: max-content;
    line-height: normal;
    height: max-content;
    font-family: IntegralCF;
    letter-spacing: 0.25em;
    /* background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(20px); */
    /* padding: 6px 12px; */
    height: 100%;
    margin-bottom: 0.5em;
  }
  
  .nombre a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
 }

/* BURGER MENU */

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.6em;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: #162a4300;
  border-color: #acc6e8;
  border-radius: 30%;
  outline: none;
  border: none;
  height: 20px;
  width: 28px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  background: #acc6e8;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-6px);
}

.burger:after {
  transform: translateY(6px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background: #202930; */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 9800;
}

.overlay img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* O ajusta según necesites */
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay-menu {
  position: fixed;
  top: 3em;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: clamp(0em, 1vw, 2em);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.menu-item {
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-item p {
  position: relative;
  text-align: center;
  font-family: "Brutals";
  font-size: 8em;
  /* line-height: 80%; */
  line-height: clamp(0%, 6vw, 80%);
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p#active {
  pointer-events: none;
  cursor: default;
}

.menu-item p:hover {
  letter-spacing: 0.15em;
}

.menu-item p#active::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #162a43;
  width: var(--after-width, 0%);
  opacity: 0.5;
  height: 100px;
}

@font-face {
  font-family: Baunk;
  src: url(/fonts/Baunk.ttf);
}


.menu-item a {
  color: #acc6e8;
  text-decoration: none;
  font-family: Baunk;
  font-size: 6vw;

}

.menu-item p#active a{
  color: #203f63;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.sub-nav {
  position: relative;
  /* bottom: 5%;
  left: 50%; */
  width: 100%;
  /* transform: translateX(-50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  opacity: 0;
  z-index: 5;
}

.sub-nav p {
  font-family: "Canopee";
  font-size: 1.5vw;
  font-weight: 800;
  color: #84a3cb;
  margin:0.5vw;
  text-decoration: none;
}

@media (max-width: 900px) {

	.logo-main img {
	display: none;
	}
	.sub-nav {
	display: none;
	}

	.logo a {
	font-size: 20px;
	}
	.overlay-menu {
	top: -60px;
	gap: 0em;
	}
	.menu-item p {  
	font-size: 18vw;
	}
	.menu-item p#active::after {
	opacity: 0;
	}
	.menu-item a {
	font-size: 10vw;
	}

	.nombre {
	display: none;
	}

	.right-side {
	display: flex;
	justify-content: flex-end;

	}
	.right-side p{
	margin: 17px 22px;
	}
	.logo img {
	padding-top: 0em;
	}

	.nav{
	justify-content: space-between;
	}

	.logo {
	display: block;
	}

}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .logo a {
    font-size: 20px;
  }
  .overlay-menu {
    top: -6px;
    gap: 0em;
}
.menu-item p {  
  font-size: 5em;
}
}

</style>
