<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FourGFX</title>
	</head>
	<body>

		<slot />
	</body>
	<style>
	:global(html,
	body) {
		height: 100%;
		/* overflow: hidden; */
		font-family: "PP Rader";
	}
	:global(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

body {
-webkit-font-smoothing: antialiased;
}

p {
text-wrap: pretty;
}
	</style>
</html>

